<div class="container">
  <div class="row">
    <div class="col-sm-6 my-4">
      <h5 class="text-center"><span class="bg-light">注文履歴詳細</span></h5>
    </div>
    <div class="col-sm-6 my-3">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 my-4">
      <div class="group row">
        <label class="col-sm-2"><strong>購入者</strong></label>
        <div class="col-sm-8">
         <%= @order.customer.full_name %>
        </div>
      </div>
      <div class="group row mt-2">
        <label class="col-sm-2"><strong>注文日</strong></label>
        <div class="col-sm-8">
          <%= @order.created_at.strftime('%Y/%m/%d') %>
        </div>
      </div>
      <div class="group row mt-2">
        <label class="col-sm-2"><strong>配送先</strong></label>
        <div class="col-sm-8">
          〒<%= @order.postal_code %>      <%= @order.shipping_address %></br>
                <%= @order.delivery_name %>
        </div>
      </div>
      <div class="group row mt-2">
        <label class="col-sm-2"><strong>支払方法</strong></label>
        <div class="col-sm-8">
          <%= @order.payment_method_i18n %>
        </div>
      </div>
      <div class="group row mt-2">
        <label class="col-sm-2"><strong>注文ステータス</strong></label>
         <div class="col-sm-8">
           <%= form_with model: @order, url:admin_order_path(@order.id), method: :patch, local: true do |f| %>
             <%= f.select :order_status, options_for_select(Order.order_statuses_i18n.invert, f.object.order_status), {class: "form-control", id: "order_status" } %>
             <%= f.submit "更新", class: 'btn btn-success btn-sm ml-2' %>
            <% end %>
         </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <table class="table">
        <thead>
          <tr class="text-center">
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th>制作ステータス</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @order_details.each do |order_detail| %>
          <tr class="text-center">
            <td><%= order_detail.item.name %></td>
            <td><%= order_detail.item.add_tax_price.to_s(:delimited) %></td>
            <td><%= order_detail.amount %></td>
            <td><%= order_detail.purchase_price %></td>
            <td>
              <%= form_with model: order_detail, url: admin_order_order_detail_path(order_detail.order.id, order_detail.id), method: :patch, local: true do |f| %>
                <%= f.select :productie_status, options_for_select(OrderDetail.productie_statuses_i18n.invert, f.object.productie_status), {class: "form-control", id: "productie_status" } %>
                <%= f.submit "更新する", class:"btn btn-success btn-sm ml-2" %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-sm-4 mt-4">
      <div class="group row mt-4">
        <label class="col-sm-4"><strong>商品合計</strong></label>
        <div class="col-sm-1">
         <% total = 0 %>
          <% @order_details.each do |order_detail| %>
            <% order_detail.item.add_tax_price.to_s(:delimited) %>
            <% order_detail.amount %>
            <% total += (order_detail.item.add_tax_price*order_detail.amount) %>
          <% end %>
          <%= total.to_i.to_s(:delimited) %>
        </div>
      </div>
      <div class="group row mt-2">
        <label class="col-sm-4"><strong>送料</strong></label>
        <div class="col-sm-1">
          <% @order.shipping_fee = 800 %>
          <%= @order.shipping_fee %>
        </div>
      </div>
      <div class="group row mt-2">
        <label class="col-sm-4"><strong>請求合計金額</strong></label>
        <div class="col-sm-1">
          <% @order.amount_billed = @order.shipping_fee+total.to_i %>
          <%= @order.amount_billed.to_i.to_s(:delimited) %>
        </div>
      </div>
    </div>
  </div>
</div>