<div class="container">
  <div class="row">
    <div class="col-sm-3 my-3"><h5 class="text-center bg-light">新規会員登録</h5></div>
    <div class="col-sm-9 my-3"></div>
  </div>
  <div class="row">
    <div class="col-sm-12 my-5">
      <%= form_with model: resource, url: customer_registration_path, local: true do |f| %>
      
        <div class="form-group row">
          <%= f.label :名前, class:"col-sm-3 col-form-label" %>
          <div class="col-sm-3">
           <%= f.email_field :last_name, class:"form-control", autofocus: true, autocomplete: "email" %>
          </div>
          <div class="col-sm-3">
           <%= f.email_field :first_name, class:"form-control", autofocus: true, autocomplete: "email" %>
          </div>
        </div>
        
        <div class="form-group row">
          <%= f.label :メールアドレス, class:"col-sm-3 col-form-label" %>
          <div class="col-sm-6">
           <%= f.email_field :email, class:"form-control", autofocus: true, autocomplete: "email" %>
          </div>
        </div>
      
        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
      
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
      
        <div class="actions">
          <%= f.submit "Sign up" %>
        </div>
      <% end %>
    </div>
    
    <%= render "public/shared/links" %>
  </div>
</div>
