<div class="container">
  <div class="row">
    <div class="col-sm-6 mt-5">
      <h5 class="text-center"><span class="bg-light">注文情報確認</span></h5>
    </div>
    <div class="col-sm-6 my-3">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-7 my-4">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
          <% total = 0 %>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
          <tr>
            <td>
              <%= attachment_image_tag cart_item.item, :image, format: 'jpeg', size:'60x50' %>
              <%= cart_item.item.name %>
            </td>
            <td><%= cart_item.item.add_tax_price.to_s(:delimited) %></td>
            <td><%= cart_item.amount %></td>
            <td>
              <% subtotal = (cart_item.item.add_tax_price*cart_item.amount).to_i %>
              <%= subtotal.to_s(:delimited) %>
             </td>
           </tr>
           <% total += (cart_item.item.add_tax_price*cart_item.amount) %>
           <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-sm-1 my-4">
    </div>
    <div class="col-sm-4 my-4">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>送料</th>
            <% @order.shipping_fee= 800 %>
            <td><%= @order.shipping_fee %></td>
          </tr>
          <tr>
            <th>商品合計</th>
            <td><%= total.to_i.to_s(:delimited) %></td>
          </tr>
          <tr>
            <th>請求金額</th>
            <% @order.amount_billed = @order.shipping_fee + total.to_i %>
            <td><%= @order.amount_billed.to_s(:delimited) %></td>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-7 my-4">
      <div class="group row">
        <h3 class="col-sm-2 col-form-label"><strong>支払方法</strong></h3>
        <div class="col-sm-6 my-2">
          <p><%= @order.payment_method_i18n %></p>
        </div>
      </div>
      <div class="group row">
        <h3 class="col-sm-2 col-form-label"><strong>お届け先</strong></h3>
        <div class="col-sm-6 my-2">
          <p><%= @order.shipping_address %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 my-3 text-center">
      <%= form_with model: @order, url: orders_path, method: :post, local: true do |f| %>
        <%= f.hidden_field :customer_id %>
        <%= f.hidden_field :amount_billed %>
        <%= f.hidden_field :shipping_fee %>
        <%= f.hidden_field :payment_method %>
        <%= f.hidden_field :delivery_name %>
        <%= f.hidden_field :shipping_address %>
        <%= f.hidden_field :postal_code %>
        <%= f.hidden_field :order_status %>
        <%= f.submit "注文を確定する", class: "btn btn-success form-control" %>
      <% end %>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>