<div class="container">
  <div class="row">
    <div class="col-sm-6 my-4">
      <h5 class="text-center"><span class="bg-light">注文情報入力</span></h5>
    </div>
    <div class="col-sm-6 my-3">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 my-4">
      <%= form_with model: @order, url: comfirm_orders_path, method: :post, local: true do |f| %>
        <div class="button-group">
            <h5><strong>支払方法</strong></h5>
            <%= f.radio_button :payment_method, "credit_card" %>
            <%= f.label :payment_method, "クレジットカード" %><br>
            <%= f.radio_button :payment_method, "transfer" %>
            <%= f.label :payment_method, "銀行振込" %>
    　　</div>
    　<% end %>
    </div>
  </div>
</div>