<div class="container">
  <div class="row">
    <div class="col-sm-2 mt-4">
    </div>
    <div class="col-sm-3 mt-4">
      <%= attachment_image_tag @item, :image, format: 'jpeg', size:'200x200' %>
    </div>
    <div class="col-sm-7 mt-4">
      <%= form_with model: @cart_item, url: cart_items_path, local: true do |f| %>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <h2><%= @item.name %></h2>
        <h5 class="mt-4 my-4"><%= @item.introduction %></h5>
        <div class="item-box row my-3">
          <h5 class="col-sm-5"><strong><%= @item.add_tax_price.to_s(:delimited) %>円</strong><span>(税込)</span></h5>
        </div>
        <div class="item-box row mt-5 my-3">
          <div class="col-sm-5">
            <%= f.select :amount, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8], ['9', 9], ['10', 10]], {:prompt => "個数選択"} %>
          </div>
          <div class="col-sm-2">
            <%= f.submit "カートに入れる", class: "btn btn-success" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>