<!DOCTYPE html>
<html>
  <head>
    <title>ReNaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top border-bottom border-dark">
      <div class="container">
        <nav class="nav navbar-nav navber-left">
          <h2><li><%= link_to "NAGANO CAKE!!", class: "nav-link border border-dark text-dark" %></li></h2>
        </nav>
      </div>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
